# Archivo de variables de entorno para Django
# IMPORTANTE: NO subir este archivo a Git (añadirlo a .gitignore)

# Django Settings
SECRET_KEY=django-insecure-zi$618pvsit87cjtwddy95&x%hl%!*72*=@n(t5$4icm9@$n7+
DEBUG=True

# Database
DB_NAME=tbot
DB_USER=root
DB_PASSWORD=retsam77
DB_HOST=10.120.1.124
DB_PORT=3306

# Google OAuth - REEMPLAZAR CON TUS CREDENCIALES REALES
# Obtener de: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=56539510221-qhhb2t6fst8q19p8hossi325574cnpc7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Binance API (si las tienes)
# BINANCE_API_KEY=tu_api_key
# BINANCE_SECRET=tu_secret
